@font-face {
    font-family: 'body';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'body';
}

header {
    width: 100%;
    height: 70px;
    background: #D89B4E;
}


header p {
    margin: 0px 15px;
    font-size: 25px;
    padding-top: 15px;
    float: left;
    color: white;
}

header i {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    font-weight: lighter;
    margin-left: 15px;
    margin-bottom: 5px;
}

p {
    margin-left: 15px;
    margin-top: 5px;
    color: #B3B3B3;
    font-size: 14px;
    line-height: 25px;
}


#footerSection {
    width: 100%;
    margin-top: 40px;
}

/*footer styling -  below is the css for the footer div. copy from here*/
#footer {
    width: 100%;
    height: 337px;
    background: #212121;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.footerInnerContainer {
    width: 1100px;
    height: 337px;
}

.footerInnerContainer h2 {
    color: white;
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 25px;
}

.footerInnerContainer p {
    margin-left: 0px;
}

.footerQaelo,
.footerCompany,
.footerServices,
.footerAccount {
    float: left;
    text-align: left;
}

.footerCompany,
.footerServices,
.footerAccount {
    margin-left: 140px;
}


#footer hr {
    width: 100%;
    float: left;
    margin-top: 17px;
    border: 0.1px solid gray;
}


.footerCopyright {
    width: 100%;
    float: left;
}

.footerCopyright p {
    float: left;
    margin-top: 13px;
    font-size: 12px;
}

.footerCopyright div {
    float: right;
}

.footerCopyright i {
    color: #D89B4E;
    padding: 10px;
    border-radius: 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width:1100px) {

    #footer,
    .footerInnerContainer {
        height: 1000px;
        width: 100%;
    }

    .footerCopyright div,
    #footer hr,
    .footerCopyright p {
        float: none;
    }

    #footer hr {
        border: 0.3px solid gray;
    }

    .footerQaelo,
    .footerCompany,
    .footerServices,
    .footerAccount {
        float: none;
        margin-left: 40px;
    }
}

/*end footer styling. copy till here*/


#imageUploadSection h1,
#imageUploadSection p {
    text-align: left;
}



/*below is the styling for the upload button - option number 1*/
#imageUploadSection {
    width: 100%;
    text-align: -webkit-center;
    text-align: -moz-center;
}


#uploadBtnOpt1 {
    width: 612px;
    height: 310px;
    border: 3px dotted rgba(179, 179, 179, 0.1411764705882353);
    border-radius: 2px;
    background: #F9FAFB;
    cursor: pointer;
    margin-bottom: 40px;
    text-align: left;
}

#uploadBtnOpt1 i {
    color: #B3B3B3;
    opacity: 0.56;
    font-size: 83px;
    margin-top: 95px;
    position: absolute;
    margin-left: 271px;
}

#uploadBtnOpt1 p {
    position: absolute;
    margin-top: 196px;
    margin-left: 188px;
}

#uploadBtnOpt1 input {
    float: left;
    height: 310px;
    cursor: pointer;
    width: 612px;
    opacity: 0;
}

@media (max-width:800px) {

    #uploadBtnOpt1,
    #uploadBtnOpt1 input {
        width: 300px;
        height: 300px;
    }

    #uploadBtnOpt1 i {
        margin-left: 120px;
    }

    #uploadBtnOpt1 p {
        margin-left: 15px;
    }
}

/*option 1 upload button - copy till here*/



#uploadBtnOpt2 {
    width: 100%;
    height: 600px;
    background: rgba(239, 239, 233, 0.23921568627450981);
    padding-top: 20px;
}

/*below is the styling for the upload button - option 2. copy from here*/
.uploadContOption2 {
    width: 612px;
    height: 580px;
    background: white;
}


.uploadBtn {
    width: 150px;
    height: 150px;
    background: #f9fafb;
    border: 3px dotted rgba(179, 179, 179, 0.1411764705882353);
    float: left;
    margin-left: 35px;
    margin-top: 25px;
}


.uploadBtn input {
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.uploadBtn i {
    position: absolute;
    font-size: 35px;
    color: #B3B3B3;
    opacity: 0.56;
    margin-left: 55px;
    margin-top: 45px;
}

.uploadBtn #uploadPrompt {
    position: absolute;
    margin-left: 26px;
    margin-top: 83px;
}


i.far.fa-times-circle {
    margin-top: -17px;
    font-size: 22px;
    margin-left: 136px;
    color: #F44336;
    cursor: pointer;
    display: none;
}

@media (max-width:800px) {
    .uploadContOption2 {
        width: auto;
        height: auto;
        float: left;
        padding-bottom: 40px;
    }
}

/*styling for upload button -option two. copy till here*/


/* Styling for the second footer option 2, starts here */
#footerDesign2 {
    width: 100%;
    height: 100px;
    background: #212121;
    text-align: -webkit-center;
    text-align: -moz-center;
}


#footerDesign2 #container {
    width: 1100px;
}


.footer2Text {
    margin-left: 0px;
}

#footerDesign2 p {
    font-size: 14px;
}

.footerLinks {
    margin-left: 15px;
}

.footerLinks:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footerHomeLink {
    margin-left: 0px;
}

.footerHomeLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

span.footer2Copyright {
    color: #B3B3B3;
    font-size: 13px;
    margin-right: 15px;
}

.mobileBreak {
    display: none;
}

@media (max-width:1100px) {

    .mobileBreak {
        display: block;
    }

    #footerDesign2 {
        height: auto;
        padding-bottom: 10px;
    }

    #footerDesign2 #container {
        width: 100%;
    }

    #footerDesign2 .footerCopyright {
        float: none;
    }
}

/* Styling for the second footer ends here */


#tabLayout #fascilityTab {
    margin-left: 15px;
    margin-bottom: 20px;
}


/*fascilityTab and freelancer tab styling start here*/

#fascilityTab {
    width: 700px;
    height: 200px;
    background: white;
    /* border-radius: 10px; */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.04);
}

#fascilityTabImg, #fascilityTabImg2 {
    width: 200px;
    height: 200px;
    background: url(../images/store-832188__340.jpg);
    background-size: cover;
    float: left;
}

#fascilityTabImg2{
    background: url(../images/gkg-headshot.jpg);
}

#fascilityTabDesc {
    float: left;
    margin-left: 15px;
}

#fascilityTabDesc h3 {
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 8px;
    margin-bottom: 0px;
}

#fascilityTabDesc p {
    margin-left: 0px;
}

#fascilityTabDesc p {
    margin-left: 0px;
    width: 345px;
    margin-top: 3px;
    font-size: 12px;
    color: black;
}

#fascilityTabData {
    font-size: 12px;
    margin-top: 8px;
    color: gray;
}

#fascilityTabData i {
    color: #4FC391;
    margin-right: 15px;
}

#fascilityTabIcons {
    float: right;
    width: 73px;
    height: 200px;
    border-left: 1px solid rgba(128, 128, 128, 0.14);
    text-align: -webkit-center;
    text-align: -moz-center;
}

#fascilityTabIcons i {
    font-size: 18px;
    cursor: pointer;
    color: gray;
}

#fascilityTabIcons i:hover {
    color: #4FC391;
}


@media (max-width:1000px) {
    #fascilityTab {
        width: 100%;
        height: auto;
    }

    #fascilityTabImg,
    #fascilityTabDesc,
    #fascilityTabIcons {
        float: unset;
    }

    #fascilityTabIcons{
        width: auto;
        height: 64px;
    }

    #fascilityTabIcon{
        float: left;
        margin-left: 15px;
        margin-top: 30px;
    }

    #fascilityTabIcons br{
        display: none;
    }

    #tabLayout #fascilityTab{
        margin-left: 0px;
    }

    #fascilityTabImg{
        margin-left: 15px;
        margin-top: 15px;
    }
}

/*fascilityTab styling end here*/